<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>博客后台首页</title>
    <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="css/site.css" />
    <link rel="stylesheet" type="text/css" href="wangEditor/css/wangEditor.css">
    <script src="semantic/jquery.js"></script>
    <script src="semantic/semantic.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/jquery.ba-hashchange.js"></script>
    <script src="js/jqPaginator.min.js"></script>
    <script src="https://cdn.wilddog.com/js/client/current/wilddog.js" ></script>
    <script src="wangEditor/js/wangEditor.js"></script>
    <script src="js/plupload/plupload.full.min.js"></script>
    <script src="js/plupload/i18n/zh_CN.js"></script>
    <script src="js/qiniu.js"></script>
    <script src="js/admin-main.js"></script>
    <style type="text/css">
        #editor-trigger {
            height: 500px;
            max-height: 800px;
            font-family: "Microsoft YaHei";
        }
        .container {
            width: 100%;
            margin: 0 auto;
            position: relative;
        }
    </style>

</head>
<body>
     <div id="mainContainer" class="g-doc">
        <div class="g-body">
            <div id="g-side" class="g-side">
                <div class="g-sidewrap">
                    <a class="f-trans m-face" hidefocus="true" v-bind:href="configs.blogUrl">
                        <img class="ui small circular image" v-bind:src="configs.blogAvatar">
                        <span class="f-trans arrowleft">&nbsp;</span>
                    </a>
                    <div class="m-nav">
                        <div class="ui vertical text menu" style="width: 170px;">
                          <div style="text-align: center; line-height: 220%;">
                            <a class="ui teal label">作者</a>
                            <a class="ui green label">标签</a>
                            <a class="ui blue label">归档</a>
                          </div>
                        </div>

                    </div>     
                </div>
            </div>
            <div class="g-main" style="text-align: center;">
                <div class="ui small four statistics">
                  <div class="statistic">
                    <div class="value">{{ statistics.blogs }}</div>
                    <div class="label">
                      Blogs
                    </div>
                  </div>
                  <div class="statistic">
                    <div class="value">{{ statistics.comments }}</div>
                    <div class="label">
                      Comments
                    </div>
                  </div>
                  <div class="statistic">
                    <div class="value">{{ statistics.tags }}</div>
                    <div class="label">
                      Tags
                    </div>
                  </div>
                 <div class="statistic">
                    <div class="value">{{ statistics.pageViews }}</div>
                    <div class="label">
                      Page Views
                    </div>
                  </div>
                </div>
                <div class="g-postlist">
                    <div class="m-post m-post-photo">
                        <div class="content">
                            <div class="text">
                                <!--管理员导航栏-->
                                <div class="ui teal menu">
                                  <div class="header item">
                                    <i class="setting icon"></i>
                                    管理面板
                                  </div>
                                  <a class="item" data-page="mblogs" v-on:click="navHeadClick('mblogs')">
                                    博客
                                  </a>
                                  <a class="item" data-page="mcomments" v-on:click="navHeadClick('mcomments')">
                                    留言
                                  </a>
                                  <a class="item" data-page="musers" v-show="user.isSiteAdmin" v-on:click="navHeadClick('musers')">
                                    作者
                                  </a>
                                  <a class="item" data-page="mtags" v-show="user.isSiteAdmin" v-on:click="navHeadClick('mtags')">
                                    标签
                                  </a>
                                  <a class="item" data-page="machieves" v-on:click="navHeadClick('machieves')">
                                    归档
                                  </a>
                                  <a class="item" data-page="logout" v-on:click="logout()">
                                    <i class="sign out icon"></i>
                                    登出
                                  </a>
                                </div>
                                <!--管理博客-->
                                <div id="mblogs" data-page="mblogs" class="ui segment nav-page">
                                    <div class="ui pointing teal secondary menu">
                                      <a class="item active" data-tab="newblog" v-on:click="tabHeadClick('newblog')">撰写博文</a>
                                      <a class="item" data-tab="blogdraft" v-on:click="tabHeadClick('blogdraft')">草稿箱</a>
                                      <a class="item" data-tab="bloghistory" v-on:click="tabHeadClick('bloghistory')">历史博文</a>
                                    </div>
                                    <div class="ui tab active" data-tab="newblog">
                                        <div class="ui input left icon container">
                                          <input id="uid" type="hidden" v-model="blog.uid">
                                          <input id="title" type="text" v-model="blog.title" placeholder=" 请输入博客标题，必填！">
                                          <i class="newspaper icon"></i>
                                        </div>
                                        <div id="editor-container" class="container"  style="padding: 10px 0;">
                                            <p><span class="ui grey label">小提示</span> 单独一行插入咖啡 <img src="wangEditor/static/emotions/default/48.gif" style="width:20px;height:20px;"> 表情作为分隔符，系统会将其之前的内容作为摘要显示</p>
                                            <textarea id="editor-trigger" v-model="blog.content" style="width:100%;text-align: left;padding-left: 5px;">正在初始化编辑器...</textarea>
                                        </div>
                                        <div class="ui input left icon container">
                                          <input id="tags" type="text" v-model="blog.tags" placeholder=" 请输入关键词，以英文逗号分隔，可以留空">
                                          <i class="tags icon"></i>
                                        </div>
                                        <div class="ui input container" style="padding: 15px 0 5px 0;">
                                          <button id="publish" class="ui teal button" v-on:click="publishBlog()">
                                            <i class = "send icon"></i>
                                            正式发表
                                          </button>
                                          <button id="saveToDraft" class="ui button" v-on:click="saveBlogToDraft()">
                                            <i class = "coffee icon"></i>
                                            保存草稿
                                          </button>
                                        </div>
                                    </div>
                                    <div class="ui tab" data-tab="blogdraft">
                                    草稿箱
                                    </div>
                                    <div class="ui tab" data-tab="bloghistory">
                                    历史博文
                                    </div>
                                </div>
                                <!--管理留言-->
                                <div id="mcomments" data-page="mcomments" class="ui segment hide nav-page">
                                </div>
                                <!--管理作者-->
                                <div id="musers" data-page="musers" class="ui segment hide nav-page" v-show="user.isSiteAdmin">
                                    <div class="ui pointing teal secondary menu">
                                      <a class="item active" data-tab="allusers" v-on:click="tabHeadClick('allusers')">全部作者</a>
                                      <a class="item" data-tab="newuser" v-on:click="tabHeadClick('newuser')">新增作者</a>
                                    </div>
                                    <div class="ui tab active" data-tab="allusers">
                                    全部作者
                                    </div>
                                    <div class="ui tab" data-tab="newuser">
                                    新增作者
                                    </div>
                                </div>
                                <!--管理标签-->
                                <div id="mtags" data-page="mtags" class="ui segment hide nav-page" v-show="user.isSiteAdmin">
                                </div>
                                <!--查看归档-->
                                <div id="machieves" data-page="machieves" class="ui segment hide nav-page">
                                    查看归档
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m-copyr">
                    <span class="copyr">
                        &copy; <a v-bind:href="configs.blogUrl">{{ configs.blogName }}</a>
                        <span class="sep"> | </span>
                        Powered by <a href="http://dinsio.github.io/blog/">Dinsio BLOG</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="ui small modal">
            <div class="header">
                {{{ ui.modalTitle }}}
            </div>
            <div class="content">
                <p id="modalInfo">{{{ ui.modalInfo }}}</p>
            </div>
            <div class="actions">
                <div id="closeButton" class="ui right labeled icon button" v-on:click="hideModal()">
                    知道了
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
