<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>博文详情</title>
    <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="css/site.css" />
    <script src="semantic/jquery.js"></script>
    <script src="semantic/semantic.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/jquery.ba-hashchange.js"></script>
    <script src="js/jqPaginator.min.js"></script>
    <script src = "https://cdn.wilddog.com/js/client/current/wilddog.js" ></script>
    <script src="js/blog.js"></script>

</head>
<body>
    <div id="indexContainer" class="g-doc">
        <div class="g-body">
            <div id="g-side" class="g-side">
                <div class="g-sidewrap">
                    <a class="f-trans m-face" hidefocus="true" v-bind:href="configs.blogUrl">
                        <img class="ui small circular image" v-bind:src="configs.blogAvatar">
                        <span class="f-trans arrowleft">&nbsp;</span>
                    </a>
                    <div class="m-nav">
                        <div class="navitm search hide">
                            <form action="/search" method="get">
						        <div class="ui icon mini input" style="width:100%;">
						            <input type="text" placeholder=" 内容搜索">
						            <i class="search link icon"></i>
						        </div>                            	
                            </form>
                        </div>
						<div class="ui vertical text menu" style="width: 170px;">
						  <div style="text-align: center; line-height: 220%;">
						  	<a class="ui teal label">作者</a>
						  	<a class="ui green label">标签</a>
						  	<a href="login.html" class="ui blue label">管理</a>
						  </div>
  						</div>

                        <div class="ui top attached secondary segment">
                          <p>文章 : {{ statistics.blogs }} 篇</p>
                        </div>
                        <div class="ui attached secondary segment">
                          <p>评论 : {{ statistics.comments }} 条</p>
                        </div>
                        <div class="ui attached secondary segment">
                          <p>标签 : {{ statistics.tags }} 个</p>
                        </div>
                        <div class="ui bottom attached secondary segment">
                          <p>访问 : {{ statistics.pageViews }} 次</p>
                        </div>
                    </div>     
                </div>
            </div>
            <div class="g-main" style="text-align: center;">
                <div class="m-nick"><a hidefocus="true" v-bind:href="configs.blogUrl">{{ configs.blogName }}</a></div>
                <div class="m-about">{{{ configs.blogIntent }}}</div>

                <div class="g-postlist">
                	<div class="m-post m-post-photo">
	                    <div class="content">
                            <div class="ui top left aligned secondary segment">
                              <h3>{{ blog.title }}</h3>
                            </div>
                            <div class="text" data-tags="{{ blog.tags }}" style="padding-top: 0px; line-height: 2.4;">
                            </div>
	                        <div class="text">
                                {{{ blog.content }}}
                                <p><br/><p/>
                            </div>
                            <div class="ui container grid" style="text-align: right;">
                                <div class="sixteen wide column" style="padding: 10px 0 0 0;">
                                    <i class="user icon"></i>&nbsp;<a href="index.html#{{ blog.uid }}">{{ blog.author }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="wait icon"></i>&nbsp;<span>{{ blog.postTime }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="unhide icon"></i>&nbsp;<span>{{ blog.traffic }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="comments outline icon"></i>&nbsp;<a href="blog.html#{{ blog.id }}/1">{{ blog.comments }}</a>
                                </div>
                            </div>
	                    </div>
	                    <div class="otherinfo">
	                        <a class="time" href="http://dinsio.lofter.com/post/1d654d53_87dc358" hidefocus="true">
	                            <span class="year">{{ blog.postYear }}</span>
	                            <span class="month">{{ blog.postMonth }}月</span>
	                            <span class="day">{{ blog.postDay }}</span>
	                            <em class="arrowright">&nbsp;</em>
	                        </a>
	                    </div>
                        <div class="ui divider"></div>
                        <div id="commentsContainer" class="ui comments" style="text-align: left;">
                          <h3 class="ui dividing">读者留言</h3>
                          <div class="comment" v-for="comment in comments" track-by="$index">
                            <a class="avatar">
                              <i class="ui {{ comment.avatar }} icon" style="font-size: 32px;"></i>
                            </a>
                            <div class="content" style="padding-bottom: 10px;">
                              <a class="author">{{ comment.from }}</a>
                              <div class="metadata">
                                <span class="date">{{ comment.postAt }}</span>
                              </div>
                              <div class="text" style="line-height: 1.3;padding-top: 0px;">{{{ comment.content }}}</div>
                              <div class="actions">
                                <a data-key="{{ comment.key }}" class="reply">回复</a>
                              </div>
                            </div>
                          </div>
                          <div style="text-align: center; padding: 10px 0px;display: none;">
                            <div id="jqPaginator" class="ui teal pagination menu hide" style="text-align: center;">
                            </div>
                          </div>
                          <form class="ui reply form">
                            <div class="field">
                              <textarea id="commentContent" v-model="commentHelper.inputContent"></textarea>
                            </div>
                            <div class="ui blue labeled icon button" v-on:click="postComment()">
                              <i class="icon edit"></i>发表留言
                            </div>
                          </form>
                        </div>                        
	                </div>
                </div>

                <div class="m-copyr">
                	<span class="copyr">
                		&copy; <a v-bind:href="configs.blogUrl">{{ configs.blogName }}</a>
                		<span class="sep"> | </span>
                		Powered by <a href="http://dinsio.github.io/blog/">Dinsio BLOG</a>
                	</span>
                </div>
            </div>
        </div>
        <div class="ui small modal">
            <div class="header">
                {{{ ui.modalTitle }}}
            </div>
            <div class="content">
                <p id="modalInfo">{{{ ui.modalInfo }}}</p>
            </div>
            <div class="actions">
                <div id="closeButton" class="ui right labeled icon button" v-on:click="hideModal()">
                    {{ ui.modalButton }}
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
